.mirador-container {
  .mirador-main-menu-bar {
    // background-color: @black;
    // border-bottom: 1px solid @gray-55;
    // color: @white;
    height: 80px;
    width: 100%;
    /*padding: 4px;*/
    font-size: 14px;
    top: 0;

    display: flex;
    align-items: center;
    background: white;
    justify-content: center;

    box-shadow: 0 2px 4px rgba(0,0,0,.5); 
    position:relative;
    z-index:1;

    .window-options-menu {
      position: relative;
      border-radius: 0;
      display: none;
      /*z-index: 10000;*/
    }
  }

  .mirador-main-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 8px 12px 0 0;
    text-align: right;

    li {
      cursor: pointer;
      float: left;
      padding: 0 15px;
    }

    a {
      color: @white;
      font-weight: normal;
      text-decoration: none;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
        border-bottom: 2px solid @deep-sky-blue;
      }
    }

    /* a:focus {
      border-bottom: 2px solid deepskyblue;
      outline: none;
    }*/
  }

  .mirador-main-menu.user-buttons {
    padding-right: 0;
  }

  .mirador-main-menu.user-logo {
    padding-right: 0;
    padding-left: 0;
    float: left;
  }

  .mirador-window-options-menu {
    list-style: none;
    margin: 0;
    padding: 10px 5px;

    li {
      cursor: pointer;
      padding: 3px 5px;
    }
  }

  .window-manifest-title {
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    margin: 8px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
  }

  .window-manifest-navigation {
    float: right;
    width: 24%;
    min-width:280px;
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
  }
}


.nav-bar-top { height:80px; width:1222px; display:flex;align-items: center; justify-content: space-between; font-family:"Noto Sans"; 
  white-space: nowrap;

  #logo { display:flex; align-items:center;

    a { display: inline-block; margin-right:15px; font-size:0;
      &:last-child span,
      &:first-child span { font-size:24px; line-height:26px; font-weight:500;}
    }

    a > span { font-weight:700; font-size:14px;letter-spacing: 0.29px; text-transform: uppercase; text-decoration: none; }

    #buda img { height:65px; margin-right:10px; }
    #buda { margin-right:0; }


    #buda + a + a span { padding-top: 7px; text-transform: none;  letter-spacing: 1px;  font-weight: 600; display:inline-flex;}

    
    
    #bdrc + a  { font-size:0;}


    #bdrc + a img { height:40px; }

    #bdrc span,
    #buda + a > span { font-size: 24px; line-height: 26px;  font-weight: 500;}
  }
}

.mirador-container.inApp .mirador-viewer { top:0; }

.inApp .mirador-main-menu-bar { position:absolute; z-index:10;}

.mirador-container {
  #feedbucket { position:fixed; color:#d73449; background:white; display: flex; border-radius: 25px; width:50px; height: 50px; box-sizing: border-box; 
    box-shadow: 0 2px 4px rgba(187, 187, 187, 0.5); bottom:5px; left:5px ; cursor: pointer; justify-content: center; align-items: center; z-index:10;
  }
  #feedbucket svg { width:28px; height:28px; display:none; fill:#d73449; }
  #feedbucket:not(.X) svg:first-child { display: block;}
  #feedbucket.X svg:last-child { display: block; width:24px; height:24px; }

  #feedbucket.X { top:~"calc(50% + 117px)"; right:10px; bottom:auto; left:auto;  border-radius: 20px; width:40px; height: 40px; }

  .mirador-viewer.hide-FB {
    & + #feedbucket:not(.X) { opacity:0; pointer-events: none; transition: opacity 200ms ease-in-out; }
  }
}

.mirador-main-menu-bar,
.view-nav,
.mirador-hud  {
  .X { display:none; }
}

#root {
  & > div:not(#viewer) .mirador-main-menu-bar { 

    .X { position:relative; font-size:40px; color:black;font-family: sans-serif; display:inline-block; cursor:pointer; }
    .X { transform:rotate(45deg);  margin-top:-1px;
      &::before { content:'+'; }
    }
  }

  .mirador-main-menu-bar {   
    .nav-bar-top #breadcrumbs a#collec:first-child::before { content:none; }
  }
}

.inApp {   

  .nav-bar-top #breadcrumbs { 
    a#collec:not(.active) { display:none !important; 
      & + a { padding-left:0; 
        &::before { content:none; }
      }
    }
  }

  .mirador-container .mirador-viewer .scroll-view { height:100%;}

  .mirador-main-menu-bar,
  .view-nav,
  .mirador-hud  { transition:all 400ms ease-in-out;
    .X { position:relative; font-size:40px; color:black;font-family: sans-serif; display:inline-block; }

    &.view-nav { 
      a img { margin-left:10px;}
      a span#check { margin-right:10px; }
    }

    &:not(.mirador-main-menu-bar) { padding-right:30px; box-sizing: border-box;
      .X { 
          width: 15px;
          height: 60px;
          background-color: #d73449;
          position: absolute;
          right: 0;
          padding:0 !important;
          
        &::before {
          content: ' ';
          position: absolute;
          top: ~"calc(50% - 6px)";
          left: 5px;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 6px solid white;
          transition: all 400ms ease-in-out;    
          transform:rotate(180deg);
        }
      }
    }
  }
  .mirador-main-menu-bar { top:0px;right:0; position:fixed;
    .X { transform:rotate(45deg);  margin-top:-1px;
      &::before { content:'+'; }
    }
  }

  .nav-bar-top { width: ~"calc(100% - 10px - 55px) !important"; 
  
    #breadcrumbs { 
      width: ~"calc(100% - 20px - 10px)";
      overflow-y: visible;
      overflow-x: hidden; 
      height:35px;
      margin-top:15px;

      a { max-width:~"calc((100%)/3)"; box-sizing: border-box;
      
        &#image { display:inline-flex; height:35px;
          & > span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }        
      }
    }
  }

  &:not(.embed) {
    .nav-bar-top #breadcrumbs {

      a { max-width: ~"calc((100% - 95px)/3)"; }

      a#return { display:inline; margin-right:8px; padding-left:0;
        &::after { 
          content: '';
          right: 0;
          top: 4px;
          height: 12px;
          width: 2px;
          border-left: 2px solid #152631;
          position: absolute;
          display: inline-block;
        }
      }
    }

    .mobile-button:not(.image) + .mirador-main-menu-bar .nav-bar-top #breadcrumbs a {
      max-width: ~"calc((100% - 95px) / 2)";
    }

  }
    

  @media only screen and (orientation:portrait) and (max-device-width:767px) and (max-width:480px) {
    .view-nav a#DL { font-size:0; }

    .inApp .view-nav .eText { display:none; }

    .items-listing ul.select, .view-nav ul.select { min-width:130px;}
  }


}


#root > div > .resource:not([data-searchurl]) .inApp {
  
  &:not(.embed) {

    .nav-bar-top #breadcrumbs {
      a { max-width: ~"calc((100%) / 3)"; }
    }

    .mobile-button:not(.image) + .mirador-main-menu-bar .nav-bar-top #breadcrumbs a {
      max-width: ~"calc((100%) / 2)";
    }
  }
}

.mobile-button { position:fixed;border-radius: 50%;font-size:0; padding:5px; z-index:10;width:40px;height:40px;display:flex; transition:all 400ms ease-in-out;  

  &.off { display:none; }

  &.on, &.forced { opacity:0; pointer-events:none;
  
    @media(max-width:800px) {
      &:not(.collec).on { opacity:1; pointer-events: auto; }      
    }

    
  }

  align-items: center; justify-content: center;

  &.top { top:5px;left:5px; background-color:white;
    &.image + .mirador-main-menu-bar,
    &:not(.on) + .mirador-main-menu-bar { top:-60px; }
    &.forced + .mirador-main-menu-bar { top:0px; }
    &.collec + .mirador-main-menu-bar { z-index:-100;transition:none;display:none;
      .X { display:none; }
    }
  }
  &.bot { right:5px;bottom:5px; background-color:#172832 ;
    img { filter:invert(100%);}
    &:not(.on) ~ .image-view .mirador-hud,
    &:not(.on) + .view-nav { left:100%; }
    &.on ~ .image-view .mirador-hud .mirador-hud-nav { opacity: 0; pointer-events:none;}
  }

  &:not(.image) + .mirador-main-menu-bar .nav-bar-top {
    #breadcrumbs {
      a { max-width:~"calc(100% / 2)"; }
    }
  }

  .fa-arrow-left {
    color: #172832;
    margin-bottom: 3px;
    font-size: 26px;
    -webkit-text-stroke: 2px white;
    display: none;
  }
}

:not(#viewer) > .mobile-button.image { display:none;  }
#viewer > .mobile-button.image { transform:none; transition: none; }


@media(min-width:801px)and(max-width:1024px) {
  #root > .H100vh.OF0 .mobile-button.top {
    display:none;
  }
}

.inApp {
  .mobile-button.image {
    .fa-arrow-left { display: block;}
    img { display:none; }

    &.off { display:flex; }

    & ~ .mirador-viewer { 
      .thumbnails-open-close,
      .mobile-button.bot { display:none; }
      .view-container.thumbs-off .mirador-osd { width:100%; }
    }
  }
}


#viewer.inApp { 
  .nav-bar-top { width:100%;padding-left:24px; }

  .nav-bar-top,
  .mirador-hud,
  .mirador-main-menu-bar { height:60px;}
  
  .mirador-container .overlay { width:~"calc(100% - 65px)"; }

  @media(orientation:portrait)and(max-device-width:768px) {
    .mirador-hud {  height:100px; flex-wrap:wrap; padding-right:0;
      .goto-page { margin-left:auto; }
      // .mirador-osd-next { margin-right:auto; }
      & > .break { display:block;width:100%;height:0;}

      .X { height:100% !important; }
    }
  }

  .bottomPanel,
  .mirador-osd { height: ~"calc(100% - 60px)"; }
  
  .nav-bar-top { padding:0 10px; 

    @media(max-width:800px) { padding-left:55px; }
    
    a#collec { padding-left:0;}
  }
}


#viewer.inApp,.embed.mirador-container { 
  .nav-bar-top { 
    #return { display:none; }
    #return + a:not(#a)::before { content:none; display:none; }
  }
}

@media(max-width:1240px) {

  .embed.mirador-container { 
    
    .mirador-main-menu-bar:not(#a) {
      .nav-bar-top { padding-left:10px; padding-right:10px;}
    }


    .mirador-hud,
    .mirador-viewer .view-nav { padding-left:10px; padding-right:10px; box-sizing: border-box;}

  }
}

@media(max-height:720px) {

  .embed.mirador-container { 
    
    .nav-bar-top #logo #buda img { height:40px; }

    .mirador-main-menu-bar:not(#a) {
      &,.nav-bar-top { height:60px;}
    }

    &:not(.inApp) .mirador-viewer:not(#a) {
      top:60px;
    }

    #collection-tree.jstree { box-sizing: border-box; padding-bottom:40px;   }

    .mirador-hud,
    .mirador-viewer .view-nav { height:60px; box-sizing: border-box;}

    .mirador-viewer .scroll-view,
    .bottomPanel,
    .mirador-osd  { height: ~"calc(100% - 60px)"; }
  }
}


.mirador-container {
  .X { margin-left:24px; } 
}

@media(max-width:800px) {
  
  .inApp.embed.mirador-container,
  .inApp:not(.embed).mirador-container {
    .nav-bar-top #logo #buda {
      & + a ~ * { display:none; }
    }
  }
  
  .mirador-container {
    .nav-bar-top #logo #buda {
      img { height:40px; }
    }

    @media(orientation:portrait) { 
      .X { margin-left:0px;}
    }    

    .nav-bar-top #breadcrumbs { text-align:right; 
  
      a {
        max-width: calc(35%);
      }
    }
  }
}

@media(max-width:480px) {
  
  .inApp.embed.mirador-container,
  .inApp:not(.embed).mirador-container {
    .nav-bar-top #logo #buda {
      & ~ * { display:none; }
    }
  }
}


/*
.nav-bar-top div { display:flex; align-items:center; }
.nav-bar-top div > a { display:inline-block;  }
.nav-bar-top div #bdrc { font-size: 24px; font-weight:500; text-shadow: 0 1px 0 #111312; color:#111312;}
.nav-bar-top div #bdrc::before { content:' ';display:inline-block;width:202px; height:57px; background:url(../images/BDRC.svg) 0 0; vertical-align: middle; }
.nav-bar-top div #buda { content:' ';display:inline-block;width:41px; height:52px; background:url(../images/icons-2a.png) -187px -1px; }
*/


/*
.nav-bar-top div #buda img,
.nav-bar-top div #bdrc img { vertical-align:middle; display: inline-block; margin-right:30px;}
*/

/* .manifest-info .nav-bar-top #breadcrumbs :not(#return) { display:none; } */

.nav-bar-top #breadcrumbs { color:#152631;  font-size:14px; font-weight:700; line-height:20px; max-width:930px; text-align: right; margin-left:auto; }
.nav-bar-top #breadcrumbs #return { text-transform: uppercase; }
.nav-bar-top #breadcrumbs #return::before { content:'<'; padding-right:10px;  }

.nav-bar-top #breadcrumbs a:hover, 
.nav-bar-top #breadcrumbs a.on
{ color:#d73449; }

.nav-bar-top #breadcrumbs a { 

  &:not(#return):not(#image) { display:inline-flex;
    & > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  span {  padding-left:33px; position:relative;

    &::before {
      left:0;
      top:3px ;
      content:' ';
      //vertical-align:0px;
      display:inline-block;
      position:absolute;
      width:30px;
      height:16px;
      background-image:url(../images/collecN.svg); // -384px -24px;
      transform:scale(0.9);
      transform-origin: center left ; 
      background-size:contain;
      background-repeat:no-repeat;
    }
  }

  &#collec span { padding-left:38px;
    &::before {
      left : -7px;
      top: -8px;
      width: 50px;
      height: 38px;
    }
  }

  &#vol span{ padding-left:42px;
    &::before {
      top:-3px;
      height:25px;
      width:47px;
      background-image:url(../images/readingN.svg); //icons-2a.png) -630px -23px;
    }
  }

  &#image span { padding-left:48px;

    &::before {
      top:1px;
      width:44px;
      height:34px;
      background-image:url(../images/pageR.svg); //../images/icons-2a.png) -849px -21px;
    }
  }
}


.nav-bar-top #breadcrumbs #collec:hover, 
.nav-bar-top #breadcrumbs #collec.on {
  span::before { background-image:url(../images/collecR.svg); } //-384px -24px; }
}

.nav-bar-top #breadcrumbs #vol:hover, 
.nav-bar-top #breadcrumbs #vol.on {
  span::before { background-image:url(../images/readingR.svg); } //icons-2d.png) -630px -23px; }
}

/*
.nav-bar-top #breadcrumbs #image:hover, 
.nav-bar-top #breadcrumbs #image.on {
  span::before { background:url(../images/icons-2c.png) -849px -21px; }
}
*/

.nav-bar-top #breadcrumbs a.active:not(.on) { cursor:pointer; }

.nav-bar-top #breadcrumbs a {
  position:relative;
  padding:0 10px;
  max-width:300px;

  

  &:not(#return)::before { 
    content:' '; 
    left:0;
    top:4px;
    height:12px;
    width:2px;
    border-left:2px solid #152631;
    position: absolute;
    display: inline-block;
  }

  /*
  &:last-child { padding-right:0; 
  
    &::after { content:none; }
  } 
  */

}
.nav-bar-top #breadcrumbs a.active.on { padding-right:0;  }

.nav-bar-top #breadcrumbs a:first-child {
    border-left:none;
}
.nav-bar-top #breadcrumbs a.on ~ a:not(.on),
.nav-bar-top #breadcrumbs a:not(.active) {
    pointer-events: none;
    
    &:not(#collec) { display:none !important; }
}
.nav-bar-top #breadcrumbs a:not(.active) span {
    opacity:0.5;
    pointer-events: none;
}

.nav-bar-top #breadcrumbs {
  #image,#return { flex-shrink:0; }
  #collec { flex-shrink:1;  }
  #vol { flex-shrink:2; }

  #return span:first-child {
    padding-left:0;
    &::before {content:none;}
    display:inline;
  }
  #return span:last-child {
    padding-left:0;
    &::before {content:none;}
    display:none;
  }
  @media(max-width:800px) {
    #return span:first-child {
      display:none;
    } 
    
    #return span:last-child {
      display:inline;
    }
  }
}


.embed.mirador-container:not(.inApp) { 
  .mirador-viewer:not(#a) {
    top:0px;
  }

  .mirador-viewer { 
    .scroll-view, .bottomPanel, .mirador-osd { height:~"calc(100% - 60px * 2)"; top: 60px;  }
  }

  .nav-bar-top { 
    #breadcrumbs { order:0; text-align: left; max-width:100%; width:~"calc(100% - 80px)"; margin-left:0; 
      #collec { padding-left:0; }
    }
    #logo { order:1; 
      & > :not(:first-child) { display:none; }
      & > :first-child img { margin-right:0 !important; }
    }
  }

}


@media(min-width:481px) and (max-width:1000px) {

  .view-nav:not(#b) > div > span > a,
  .view-nav:not(#b) > div > * { font-size:0; }
  .view-nav:not(#b) > div > * > #check { margin-right:0; }
}