
/*
@font-face {
  font-family: 'Noto Sans Tibetan';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstibetan/v1/NotoSansTibetan-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanstibetan/v1/NotoSansTibetan-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanstibetan/v1/NotoSansTibetan-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstibetan/v1/NotoSansTibetan-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstibetan/v1/NotoSansTibetan-Regular.ttf) format('truetype');
}
*/

@font-face {
  font-family: 'Tibetan Machine Uni';
  src: url('../fonts/Tibetan_Machine_Uni.woff2') format('woff2'),
      url('../fonts/Tibetan_Machine_Uni.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mirador-container .view-container { display:flex; 

  .bottomPanel { order:1; }
  .scroll-view { order:2; }
  .view-nav { order:3; }
  .image-view { order:4; }
}

.mirador-container .mirador-viewer .scroll-view { position:absolute; height:~"calc(100% - 80px)"; }

.mirador-container .mirador-viewer .view-nav { position: fixed;left: 0; bottom: 0; width: 100%;   height: 80px; background: #172832;  z-index: 100;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);  display: flex;  align-items: center;  justify-content: center; 
  
  & > div { width:1222px; display:flex;justify-content: space-between;align-items:center; 
  
    & > *:not(.on) { opacity:0.35; pointer-events:none; }
  
    & > .DL:not(.on) { opacity:1;pointer-events:auto;
      & >  ul, & > a { opacity:0.35;pointer-events:none; }
      &::after { content:'?'; position: absolute;right:~"calc(100% + 15px)";background:#d73449;color:white;font-size:12px; display:inline-block;
        width:22px;height:22px;border-radius: 11px;align-items: center;justify-content: center; margin-top:10px; font-weight:800;line-height:22px;
        text-align:center;
      }
    }
  } 

  .lowQ {
    background: #d73449;
    margin-left: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    img { 
      width: 20px;
      height: 20px;
      filter: invert(1);
      margin-left: 0;
    }
  }
}


.mirador-container.inApp .mirador-viewer .scroll-view { height:~"calc(100% - 60px)"; }
#viewer.inApp .view-nav { height:60px;  }


.mirador-container.inApp {
  .bottomPanel,
  .mirador-osd
  /*.mirador-viewer .scroll-view*/ { height:~"calc(100%) !important"; }
}
  
.mirador-container .overlay { z-index:1000;}

@media(max-width:768px){

  .mirador-container .mirador-viewer .view-nav {
    & > div { padding:0 10px; }
    #control { margin-left:auto; margin-right:auto; }
    .eText #check { margin-left:0;} 
  }
}

.inApp .view-nav .eText { pointer-events:none !important; opacity:0.35 !important;

  &.on { animation:none !important; }
}


/*
#viewer .bottomPanel { z-index:102; } 
#viewer .overlay { z-index:105;}
#viewer .ui-selectmenu-menu .overlay { z-index:105;}
*/

.view-nav > div { justify-content: flex-start; align-items: center; }
.view-nav #control { /*margin-left:auto; margin-right:65px;*/ display:flex;}
.view-nav #control img {   height:22px; display:inline-block;  }
.view-nav #control #lang img { height:18px; padding-bottom:2px; }
.view-nav #control > * { padding:0px 10px ; display:inline-flex; height:40px; align-items: center; border-left:1px solid rgba(255,255,255,0.51); cursor:pointer;}
.view-nav #control > *:first-child { border-left:none; }
// .view-nav #control > #lang {  }
.view-nav #control span:not(.on) { pointer-events:none; }
.view-nav #control span:not(.on) img { opacity:0.35; }
.view-nav a { color:white; font-size:14px; text-decoration: none; font-weight:500; cursor:pointer;}
.view-nav a img { vertical-align:middle; display:inline-block;margin-left:20px; }
.view-nav a#DL { position:relative;
  img { width:42px;}
  select + span { position:absolute; width:100%;height:100%;outline:none;
  
    span.ui-selectmenu-text { height:42px; box-sizing: border-box;}
    
  }
}

.view-nav a.mirador-osd-fullscreen { position:relative; display: inline-block; margin:0 !important; width:auto;
  & > span { display:block; }
}

.view-nav #control #Zmenu { position:relative;
  & > span { color: white;font-weight: 700;font-size: 13px;padding:2px 5px;background:black; display:inline-block; min-width:50px;
    text-align:center;
  
    &::after { content:''; background: url(../images/icons.png) -325px -17px;  width: 12px; height: 8px; display:inline-block;margin-left:4px;
      transform:scale(0.7);
    }

  }
  ul.select { bottom:16px;top:auto; width:53px;left:12px;
    li { padding-left:8px;padding-right:8px;}
  }
}

.metadata-listing,
.items-listing,
.view-nav {

  .DL,.pdfDL { position:relative;   }


  #control ul.select {   
    li:nth-child(even):not(.zoom0),
    li[data-value^="-"] { display:none; }
  }

  ul.select { 

    &:not(.on) { display:none;}

    position:absolute;
    top:-85px;
    left:-17px;
    min-width:~"calc(100% + 30px)";
    box-shadow:0 0 1px 1px #D73449;    
    border:none;
    border-radius:0 ;
    overflow:hidden;
    list-style-type:none;
    padding:0 2px;
    background-color:#fff;

    &.threefold:not(.login) { top:-120px; }

    li:hover, & > span:hover { 
      & { background-color:#eee; }
    }
    li:not([data-init='1']):hover, & > :not([data-init='1']):hover, & > [data-init='1']:hover a { 
      // & { font-weight:700 !important; }
      & { text-shadow: 0px 0px 0.5px black;}
    }

    & > [data-init='1'] { display: flex !important; align-items: baseline;
      a { display: inline-block; margin-right:5px;}
      input { width:50px; height:19px; margin-left:5px;
        &:focus { border-color:#aaa;}
      }
      button { background:#d73449; color:white; border: none; border-radius: 2px; text-transform: uppercase; font-weight: 600; align-self: stretch; margin-left:5px; }
      i.fa-close {
        font-size: 36px;
        line-height: 12px;
        align-self: center;
        margin-left: 5px;
        transform: rotate(45deg);
        font-weight: 600;
        cursor: pointer;

        &::before { content:'+'; }
      }
      [data-range] { display:none; }
    }

    li,& > span {

      &[data-init='1'] a,
      &[data-value]:not([data-init='1']) { cursor:pointer; }

      padding:5px 15px ;
      background-color:#fff;
      color:#222;
      font-family:"Noto Sans";
      font-weight:400 !important;
      font-size:14px;
      line-height:22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;      

      a {
        display:block;
        color:#222;
        font-weight:500 !important;
        text-decoration: underline !important;

      }
      &:not([data-init='1']):hover a { font-weight:700 !important; }
    }

    &.login { padding:5px 15px; font-size:14px; cursor:pointer; top:-75px; 
      &:hover { text-decoration: underline; }
    }
  }

}


.metadata-listing ul.select{
  top:inherit; left:inherit; min-width:auto;

  a { border:none !important; }
}

.view-nav a:hover { text-decoration:underline; } 
.view-nav a #check { margin-left:10px;margin-right:20px; display:inline-block;vertical-align: middle; min-width:19px;}
.view-nav a span#check { width:19px;height:19px;background:white;border-radius:10px;
  img { margin:0; position:absolute;}

  &:not(.on) img { display:none;  }
  &.on { background:none; }
}
.view-nav .eText { display:flex;align-items: center; }
.view-nav .monlam.off { display:none; }


@keyframes toggle {
  50% {
      filter:opacity(0.125); 
  }
}
.view-nav .eText.on {animation: 1s toggle 5; animation-delay:0.75s; }

.image-view .provider img,
.scroll-view .provider img { max-height:80px; max-width:40px;padding:0 4px; border:none !important;}

.provider img[src$="bdrc.io/static::logo.png/full/max/0/default.png"] {
  filter: invert(100%);
}

.provider img[src$="bl_logo_100.gif"] {
  padding:0
}

.auto_rela:not(#a):not(#b):not(.c):not(.d):not(html):not(body) { 
  position:relative !important; 
  &:not(.customH) { 
    height:auto !important; 
  }
  &.slot { min-height:100vh;} //> :not(.window) { display:none; }
  .mirador-container .slotIconContainer { position:absolute;}
}


html:not(#a) > body:not(#b) > #root:not(#c) > #viewer.auto_rela:not(:root):fullscreen { position:relative !important; }


.scroll-view .provider div,
.image-view .provider { position:fixed; top:5px; /*~"calc(100vh - 120px - 70px)"*/ 
  min-width:40px;min-height:80px;background:#2d3b46;
  display:flex;align-items: center;justify-content: center; z-index:1; top:0; 
  border:none !important;
  
  span {  max-width: 50px;  padding:8px 4px; color: white;  text-align: center;  font-size: 10px;  font-weight: 600; 
    
    & + img { display:none; }
  }
}

/*
.inApp {
  &#viewer.mirador-container { height:100vh; }
}
*/

.inApp .provider { transition: all 400ms ease-in-out; }

//.inApp .provider.off { opacity:0; }

.inApp .scroll-view .provider div,
.inApp .image-view .provider {
  top:5px !important;  //~"calc(35% - 40px) !important";
}

.inApp .view-nav #control #Zmenu ul.select {
  overflow-y: auto;
  max-height: 65vh;
}

.scroll-view .provider { position:absolute; top:0; right:0; width:48px; display: flex; justify-content: flex-end;
  & > div { display:inline-flex; }
}

//.scroll-view.v-direction-rtl .provider > div { right:0; }

.image-view .provider { right:0; }


  // .scroll-view .provider { display:none !important; }

  
  
.mirador-container {
  

  ul.scroll-listing-thumbs {
    clear: both;
    list-style: none;
    padding: 0;
    white-space: nowrap;

  }

  .image-view { z-index:1; }

  .scroll-view { border:none !important;
    &.withMonlam { width:~"calc(100% - 400px)"; }


    &~.monlamResults { 
      z-index:0;
      position:absolute;
      display:block;
      right:0;
      top:0;
      width:400px;
      height:~"calc(100% - 80px)";
      background:white;    
      box-shadow: -2px 0 3px rgba(0,0,0,0.15);


      @import (less) "https://monlamdic.com/dictionarys/files/css/basic.css";

      .dhtmlgoodies_answer, .perna, & {
        font-family: "Noto Sans", "Noto Serif Tibetan", "Roboto", "Helvetica", "Arial", sans-serif !important; 
      }



      & > div { width:400px; height:~"calc(100% - 2 * 80px)"; position:fixed; right:0; top:80px; background:white; overflow:auto;                      
        &.loading {          
          display: flex;
          justify-content: center;      
          img {
            width: 45px;
            object-fit: scale-down;
          }
        }
      }

      & > div > * { padding:15px; font-size:15px; }


      & div .def { margin-bottom:0px; line-height:24px; padding-bottom:15px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
      }

      & div .def > b { color:#09b; display: inline-flex; align-items: center; cursor: pointer; text-decoration: none; }
      & div .def > b > i { transform: rotate(0deg); margin:-5px 5px 0 5px; text-decoration: none; font-size:13px; }
      & div .def > b.on > i { transform: rotate(90deg); }
      & div .def > b > span > .kw { background:rgba(0,128,255,0.2); }
      & div .def > b > span { font-size:115%; text-decoration:underline; }
      & div .def > b[lang='bo'] > span { font-size:135%;}
      & div .def span.content { padding-left:15px; display: block; padding-top:12px;  }
      & div .def:first-child { padding-top:30px; }
      & div .def:last-child { padding-bottom:30px; }

      & div .def b ~ div { overflow:hidden; max-height:0; }
      & div .def b.on ~ div { max-height:10000px; overflow:visible; }



      & div .def b[lang="bo-x-ewts"] ~ div img[align="middle"] { vertical-align: text-bottom;}

      & div .def b[lang="bo-x-ewts"] ~ div .perna.ac-ac { line-height:24px; }
      
      & div .def .perna.ac-ac:first-child,
      & div .def br:first-child + .perna.ac-ac { margin-top: 0;}
      
      & div .def br:first-child,
      & div .def .spc { display:none; }
      
      & div .def p.gap { margin-top:0; }  
      
      & div .def .numbers,
      & div .def .numbers2 { width:18px; height:18px; padding:0; display:inline-flex; justify-content: center; align-items: center; top:0; vertical-align: middle; }


      .lobsangtooltip .lobsangtooltiptext { width: 290px; left:10px; top:30px; }
      span .lobsangtooltiph { width:310px; padding-left:10px; box-sizing: border-box;}
      .lobsangtooltip .lobsangtooltiptext::after { content: none; }


      .dhtmlgoodies_answer { box-sizing: border-box;}

      .dhtmlgoodies_question { height:32px; box-sizing: border-box; }
      .dhtmlgoodies_question img { vertical-align: middle; }

      .dhtmlgoodies_question.on { font-weight:600; }
      .dhtmlgoodies_question.on + .dhtmlgoodies_answer { display: block; }

    }
  }

  ul.scroll-listing-thumbs li {
    box-sizing:border-box;
    margin: 0 0 15px 0;
    padding: 10px 10px 10px 10px;
    /*transition: all 0.05s ease-out;*/
    display: inline-block;
  }

  ul.scroll-listing-thumbs li img {
    background-color: #333; //@gray-ee;
    min-height: 25px;
    min-width: 25px;
    margin: 0 auto;
    display: block;    
  }

  ul.scroll-listing-thumbs li .thumb-label {
    clear: both;
    color: @gray-99;
    font-size: 16px;
    margin: 0 auto;
    max-width: 200px;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;

    &[lang="bo"] {
      font-size:20px;
    }
  }

  

  .etext-content {
    box-sizing: border-box;
    //overflow:hidden; 
    
    color:black;  
    background:rgba(255,255,255,0.9);
    //background:white;
    font-size:16px; //~"calc( 2000 * (100% / 2500)  )";
    //padding:~"calc(3% * 9 / 16)" 0;
    white-space: pre;
    word-break: break-all; 
    text-align: center;   
    margin:0 auto;
    position: relative;

    & > [data-h] {       
      overflow:auto;
      //max-width:95%;
    }
    
    &.hide { display:none; }

    .pad:first-child+div > span {
      font-family: "Tibetan Machine Uni", "Noto Sans", "Noto Serif Tibetan", "Noto Serif Khmer", "Noto Sans Mongolian", "Roboto", "Helvetica", "Arial", sans-serif !important; //"Noto Sans Tibetan" ;
    }

    div:not(.pad) {
      //border:1px solid black;
      text-align:left;
      background:white;
      display:inline-block;
      margin:0 1%;
      padding: 35px;
      box-shadow: -3px 3px 15px rgba(0,0,0,0.35);
      box-sizing:border-box;
    }

    &.loaded-bo {
      font-size: 24px; //~"calc( 4500 * (100% / 2500)  )";
      //text-align:left;      

      div {
        padding-bottom: 15px;
      }
    }

    &.unformated {
      white-space: normal; 
      &:not(.loaded-bo) { font-size:16px; } //~"calc( 2500 * (100% / 2500)  )";
    }
    &:empty { height:0 !important; transition: all 1s ease-in-out; padding-top:0;padding-bottom:0;}
   
    .monlam-popup {
      margin-right:0 !important;width:max-content;display:flex !important;align-items:center;position:absolute;font-family:"Noto Sans", "Noto Sans TC", "Noto Serif Tibetan"; 
      cursor:pointer;
      &:hover {
        background-color:#eee;
      }
      img { display:inline-block;background:transparent;}
      span { border:none !important; }
    }

    .monlam-selec { position:relative;
      span { border:none !important; display:block; }
    }


  }
}

.mirador-container .panel-thumbnail-view .etext-content { display:none; }
